.btn-subscribe {
  font-family: Arial;
  border: none;
  cursor: pointer;
  background-color: rgb(204, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 8px;
  border-radius: 2px;
  transition: opacity 0.15s;
}

.btn-join {
  font-family: Arial;
  border: 1px;
  border-style: solid;
  border-color: rgb(41, 118, 211);
  cursor: pointer;
  background-color: white;
  color: rgb(41, 118, 211);
  border-radius: 2px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: top;
  margin-right: 8px;
  transition:
    background-color 0.15s,
    color 0.15s,
    opacity 0.15s;
}

.btn-tweet {
  font-family: Arial;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  transition: box-shadow 0.15s;
}

.btn-subscribe:hover {
  opacity: 0.8;
}

.btn-subscribe:active {
  opacity: 0.5;
}

.btn-join:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.btn-join:active {
  opacity: 0.5;
}

.btn-tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
